@using mvcToDoList.Models
@model LoginViewModel
@{
    ViewBag.Title = "";
}
<style>
    
        a.link_tip:active { color: lavenderblush }
        a.link_tip:link { color: white }
        a.link_tip:visited { color: grey }
   

</style>
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8" style="margin-left:30% ;float:right">
        <section id="loginForm" style="color:white">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Sử dụng một tài khoản Đăng Nhập.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Đăng nhập" class="btn btn-default" />
                    </div>
                </div>
                <div class=" link_tip">
                    <b>@Html.ActionLink("Đăng ký tài khoản mới?", "Register")</b> <br />
                    <b>@Html.ActionLink("Quên mật khẩu?", "ForgotPassword")</b>

                </div>
                
            }
        </section>
    </div>
    @*<div class="col-md-4 "style="float:right;color:white">
          @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}